.s2{
      margin: auto;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color:#2c5e5d;
      
    
}
.abc{
      margin: auto;
      padding: 125px;
      width: 50%;
}
p{
      color:#1bb3a68a;
      font-family: 'Roboto Mono',monospace   
}
body{
      background-color: #474547;
}
#wt9{
margin:auto ;
padding: 125px;
width: 50%;
color:#c5cdde;
}

button{
      color: blueviolet;
      
}
